.header {
  width: 1440px;
  height: 532px;
  background-image: url("../public/g8.svg"), url("../public/ilustra-02.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-color: #F8F8FF;
}

.title {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #E45858;
  margin-top: 6rem;
}

.container_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blocks {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
  text-align: center;
  width: 700px;
  margin-top: 1.125rem;
}

.blocks_top {
  color: #6246EA;
}

.container_blocks_locations {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 7rem 2.5rem 7rem;
}

.container_blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.25rem 7rem 0 7rem;
}

.title_blocks {
  font-size: 2rem;
  color: #121214;
  line-height: 2.75rem;
  font-weight: 700;
}

.button_blocks {
  width: 140px;
  background-color: #6246EA;
  color: #FFFFFF;
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;
}
